.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}